/* menu_principale.css */

header {
    text-align: center; 
    padding-top: 20px; 
}

header img {
    width: 200px; 
    height: auto;
}

body {
    font-family: 'Poppins', sans-serif; /* Applica il font Poppins */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    background-color: #349e37;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #27782a;
}